.easto-icons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -1em;
    margin-right: -1em;
}
.easto-icons-list .glyph {
    display: inline-block;
    width: 9em;
    margin: 1em;
    text-align: center;
    vertical-align: top;
    border: 1px solid #eee;
    background-color: #f7f7f7;
}

.easto-icons-list .class-name {
    color: #223645;
    padding: 10px;
}

.easto-icons-list [class*="easto-icon"] {
    padding: 20px;
    display: block;
    font-size: 36px;
    line-height: 1;
    color: #223645;
    background: #fff;
}

body.custom-background.page-id-2084 {
    background: #f0f5fb;
}
