.elementor-46 .elementor-element.elementor-element-73008ba {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
  --padding-top: 40px;
  --padding-bottom: 40px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-46
  .elementor-element.elementor-element-4e6f65c
  .hfe-site-logo-container,
.elementor-46
  .elementor-element.elementor-element-4e6f65c
  .hfe-caption-width
  figcaption {
  text-align: center;
}
.elementor-46
  .elementor-element.elementor-element-4e6f65c
  .hfe-site-logo-container
  .hfe-site-logo-img {
  border-style: none;
}
.elementor-46
  .elementor-element.elementor-element-4e6f65c
  .widget-image-caption {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-46 .elementor-element.elementor-element-14ff079 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --align-items: center;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 1px 0px 1px 0px;
  --border-top-width: 1px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #ffffff33;
  --border-color: #ffffff33;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-46 .elementor-element.elementor-element-14ff079,
.elementor-46 .elementor-element.elementor-element-14ff079::before {
  --border-transition: 0.3s;
}
.elementor-46
  .elementor-element.elementor-element-3c75054
  .menu-mobile-nav-button
  .easto-icon
  > span {
  background-color: #ffffff;
}
.elementor-46
  .elementor-element.elementor-element-3c75054
  .menu-mobile-nav-button {
  color: #ffffff;
}
.elementor-46
  .elementor-element.elementor-element-3c75054
  .menu-mobile-nav-button:hover
  .easto-icon
  > span {
  background-color: #ffffff;
}
.elementor-46
  .elementor-element.elementor-element-3c75054
  .menu-mobile-nav-button:hover {
  color: #ffffff;
}
.elementor-46 .elementor-element.elementor-element-7b08c31 .line {
  background-color: #ffffff;
}
.button-popup-content.button-popup-content-7b08c31 {
  width: 100vw;
  height: 100vh;
}
.elementor-46
  .elementor-element.elementor-element-7b08c31
  .button-popup
  .elementor-align-icon-right
  svg {
  margin-left: 0px;
}
.elementor-46
  .elementor-element.elementor-element-7b08c31
  .button-popup
  .elementor-align-icon-left
  svg {
  margin-right: 0px;
}
.elementor-46
  .elementor-element.elementor-element-7b08c31
  .button-popup
  .elementor-button-icon
  i {
  font-size: 40px;
}
.elementor-46 .elementor-element.elementor-element-7b08c31 .button-popup {
  fill: #ffffff;
  color: #ffffff;
  background-color: #02010100;
  padding: 10px 0px 10px 0px;
}
.elementor-46 .elementor-element.elementor-element-7b08c31 .button-popup:hover,
.elementor-46 .elementor-element.elementor-element-7b08c31 .button-popup:focus {
  color: #ffffff;
}
.elementor-46
  .elementor-element.elementor-element-7b08c31
  .button-popup:hover
  svg,
.elementor-46
  .elementor-element.elementor-element-7b08c31
  .button-popup:focus
  svg {
  fill: #ffffff;
}
.button-popup-content.button-popup-content-7b08c31 .mfp-close {
  top: 40px;
  bottom: unset;
  left: unset;
  right: 50px;
  font-family: "URW Gothic L", Sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 2px;
  color: var(--e-global-color-accent);
  background-color: #ffffff;
  border-radius: 30px 30px 30px 30px;
  padding: 17px 27px 17px 27px;
}
.button-popup-content.button-popup-content-7b08c31
  .mfp-close
  .elementor-align-icon-right {
  margin-left: 0px;
}
.button-popup-content.button-popup-content-7b08c31
  .mfp-close
  .elementor-align-icon-left {
  margin-right: 0px;
}
.button-popup-content.button-popup-content-7b08c31 .mfp-close i {
  font-size: 16px;
}
.button-popup-content.button-popup-content-7b08c31 .mfp-close:hover,
.button-popup-content.button-popup-content-7b08c31 .mfp-close:focus {
  color: var(--e-global-color-accent);
  background-color: #ffffff;
}
.button-popup-content.button-popup-content-7b08c31 .mfp-close:hover svg,
.button-popup-content.button-popup-content-7b08c31 .mfp-close:focus svg {
  fill: var(--e-global-color-accent);
}
.elementor-46 .elementor-element.elementor-element-7b08c31 {
  width: var(--container-widget-width, 210px);
  max-width: 210px;
  --container-widget-width: 210px;
  --container-widget-flex-grow: 0;
}
.elementor-46 .elementor-element.elementor-element-f8a447c .main-navigation {
  text-align: center;
}
.elementor-46
  .elementor-element.elementor-element-f8a447c
  .main-navigation
  ul.menu
  > li.menu-item
  > a {
  padding: 25px 30px 25px 30px;
}
.elementor-46
  .elementor-element.elementor-element-f8a447c
  .main-navigation
  ul.menu
  > li.menu-item
  > a:not(:hover) {
  color: #ffffff;
}
.elementor-46
  .elementor-element.elementor-element-f8a447c
  .main-navigation
  ul.menu
  > li.menu-item
  > a:hover {
  color: #ffffff;
}
.elementor-46
  .elementor-element.elementor-element-f8a447c
  .main-navigation
  ul.menu
  > li.menu-item.current-menu-item
  > a:not(:hover) {
  color: #ffffff;
}
.elementor-46
  .elementor-element.elementor-element-f8a447c
  .main-navigation
  ul.menu
  > li.menu-item.current-menu-parent
  > a:not(:hover) {
  color: #ffffff;
}
.elementor-46
  .elementor-element.elementor-element-f8a447c
  .main-navigation
  ul.menu
  > li.menu-item.current-menu-ancestor
  > a:not(:hover) {
  color: #ffffff;
}
.button-popup-content.button-popup-content-8feb59a {
  width: 600px;
  height: 750px;
  top: 50%;
  bottom: unset;
  left: 50%;
  right: unset;
  --transform-translateX: -50%;
  --transform-translateY: -50%;
}
.elementor-46
  .elementor-element.elementor-element-8feb59a
  .button-popup
  .elementor-align-icon-right
  svg {
  margin-left: 5px;
}
.elementor-46
  .elementor-element.elementor-element-8feb59a
  .button-popup
  .elementor-align-icon-left
  svg {
  margin-right: 5px;
}
.elementor-46 .elementor-element.elementor-element-8feb59a .button-popup {
  fill: var(--e-global-color-accent);
  color: var(--e-global-color-accent);
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-border);
}
.button-popup-content.button-popup-content-8feb59a .mfp-close i {
  font-size: 20px;
}
.button-popup-content.button-popup-content-8feb59a .mfp-close {
  color: var(--e-global-color-accent);
  background-color: var(--e-global-color-background_light);
  border-radius: 0px 0px 0px 0px;
  padding: 15px 30px 15px 30px;
}
.button-popup-content.button-popup-content-8feb59a .mfp-close:hover,
.button-popup-content.button-popup-content-8feb59a .mfp-close:focus {
  color: #ffffff;
  background-color: var(--e-global-color-primary);
}
.button-popup-content.button-popup-content-8feb59a .mfp-close:hover svg,
.button-popup-content.button-popup-content-8feb59a .mfp-close:focus svg {
  fill: #ffffff;
}
.breadcrumb-wrap .breadcrumb-overlay,
.elementor-page-36 .breadcrumb-wrap .breadcrumb-overlay {
  opacity: 0.5;
}
body.elementor-page-46:not(.elementor-motion-effects-element-type-background),
body.elementor-page-46
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
@media (max-width: 1366px) {
  .elementor-46 .elementor-element.elementor-element-7b08c31 {
    --container-widget-width: 60px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 60px);
    max-width: 60px;
  }
}
@media (min-width: 768px) {
  .elementor-46 .elementor-element.elementor-element-14ff079 {
    --content-width: 1730px;
  }
}
@media (max-width: 1200px) {
  .elementor-46
    .elementor-element.elementor-element-7b08c31
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-46
    .elementor-element.elementor-element-f8a447c
    .main-navigation
    ul.menu
    > li.menu-item
    > a {
    padding: 25px 18px 25px 18px;
  }
  .elementor-46 .elementor-element.elementor-element-8feb59a .button-popup {
    padding: 8px 20px 8px 20px;
  }
}
@media (max-width: 1024px) {
  .elementor-46 .elementor-element.elementor-element-73008ba {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-46 .elementor-element.elementor-element-14ff079 {
    --padding-top: 12px;
    --padding-bottom: 12px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-46 .elementor-element.elementor-element-3c75054 {
    width: var(--container-widget-width, 33px);
    max-width: 33px;
    --container-widget-width: 33px;
    --container-widget-flex-grow: 0;
  }
  .button-popup-content.button-popup-content-7b08c31 .mfp-close {
    left: unset;
    right: 30px;
    padding: 12px 25px 12px 25px;
  }
  .elementor-46 .elementor-element.elementor-element-7b08c31 {
    --container-widget-width: 33px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 33px);
    max-width: 33px;
  }
  .elementor-46 .elementor-element.elementor-element-7b08c31.elementor-element {
    --order: 99999 /* order end hack */;
  }
}
@media (max-width: 880px) {
  .elementor-46 .elementor-element.elementor-element-73008ba {
    --justify-content: center;
  }
  .elementor-46 .elementor-element.elementor-element-3c75054 {
    width: initial;
    max-width: initial;
  }
  .elementor-46 .elementor-element.elementor-element-f8a447c {
    width: initial;
    max-width: initial;
  }
}
@media (max-width: 767px) {
  .elementor-46 .elementor-element.elementor-element-73008ba {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-46 .elementor-element.elementor-element-14ff079 {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
  .elementor-46
    .elementor-element.elementor-element-7b08c31
    .button-popup
    .elementor-button-icon
    i {
    font-size: 35px;
  }
  .button-popup-content.button-popup-content-7b08c31 .mfp-close {
    top: 40px;
    bottom: unset;
    left: unset;
    right: 15px;
    padding: 10px 18px 10px 18px;
  }
  .elementor-46
    .elementor-element.elementor-element-7b08c31
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .button-popup-content.button-popup-content-8feb59a {
    width: 400px;
    height: 600px;
  }
  .button-popup-content.button-popup-content-8feb59a .mfp-close {
    padding: 0px 20px 0px 20px;
  }
}
