.elementor-62 .elementor-element.elementor-element-a807940 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
    --margin-top: 150px;
    --margin-bottom: 150px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-62 .elementor-element.elementor-element-b2b2c61 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 140px;
}

.elementor-62 .elementor-element.elementor-element-688e351 > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-62 .elementor-element.elementor-element-31d4bf0 {
    color: var( --e-global-color-primary );
}

.elementor-62 .elementor-element.elementor-element-31d4bf0 > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-62 .elementor-element.elementor-element-cf33a52 .wpcf7-form .wpcf7-form-control-wrap {
    margin: 0px 0px 30px 0px;
}

.elementor-62 .elementor-element.elementor-element-cf33a52 .wpcf7-form .wpcf7-form-control-wrap select:not([size]):not([multiple]) {
    margin: 0px 0px 30px 0px;
}

.elementor-62 .elementor-element.elementor-element-cf33a52 .wpcf7-button button {
    font-family: var( --e-global-typography-2bd818f-font-family ), Sans-serif;
    font-size: var( --e-global-typography-2bd818f-font-size );
    text-transform: var( --e-global-typography-2bd818f-text-transform );
    line-height: var( --e-global-typography-2bd818f-line-height );
    letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
    word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    color: var( --e-global-color-background );
    fill: var( --e-global-color-background );
}

.elementor-62 .elementor-element.elementor-element-cf33a52 .wpcf7-button button:hover {
    background-color: var( --e-global-color-primary_hover );
}

.elementor-62 .elementor-element.elementor-element-738760d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-62 .elementor-element.elementor-element-7d6bd2c .elementor-heading-title {
    color: var( --e-global-color-accent );
    font-family: var( --e-global-typography-2bd818f-font-family ), Sans-serif;
    font-size: var( --e-global-typography-2bd818f-font-size );
    text-transform: var( --e-global-typography-2bd818f-text-transform );
    line-height: var( --e-global-typography-2bd818f-line-height );
    letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
    word-spacing: var( --e-global-typography-2bd818f-word-spacing );
}

.elementor-62 .elementor-element.elementor-element-7d6bd2c > .elementor-widget-container {
    margin: 0px 0px 23px 0px;
}

.elementor-62 .elementor-element.elementor-element-630b872 .elementor-heading-title {
    line-height: 1.2em;
}

.elementor-62 .elementor-element.elementor-element-630b872 > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-62 .elementor-element.elementor-element-5ac0055 .elementor-heading-title {
    color: var( --e-global-color-accent );
    font-family: var( --e-global-typography-2bd818f-font-family ), Sans-serif;
    font-size: var( --e-global-typography-2bd818f-font-size );
    text-transform: var( --e-global-typography-2bd818f-text-transform );
    line-height: var( --e-global-typography-2bd818f-line-height );
    letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
    word-spacing: var( --e-global-typography-2bd818f-word-spacing );
}

.elementor-62 .elementor-element.elementor-element-5ac0055 > .elementor-widget-container {
    margin: 0px 0px 23px 0px;
}

.elementor-62 .elementor-element.elementor-element-e3ae0b6 .elementor-heading-title {
    line-height: 1.2em;
}

.elementor-62 .elementor-element.elementor-element-e3ae0b6 > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-62 .elementor-element.elementor-element-41330fd .elementor-heading-title {
    color: var( --e-global-color-accent );
    font-family: var( --e-global-typography-2bd818f-font-family ), Sans-serif;
    font-size: var( --e-global-typography-2bd818f-font-size );
    text-transform: var( --e-global-typography-2bd818f-text-transform );
    line-height: var( --e-global-typography-2bd818f-line-height );
    letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
    word-spacing: var( --e-global-typography-2bd818f-word-spacing );
}

.elementor-62 .elementor-element.elementor-element-41330fd > .elementor-widget-container {
    margin: 0px 0px 23px 0px;
}

.elementor-62 .elementor-element.elementor-element-c00bcd8 .elementor-heading-title {
    line-height: 1.2em;
}

.elementor-62 .elementor-element.elementor-element-a7f43ee {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-62 .elementor-element.elementor-element-c401f92 iframe {
    height: 660px;
}

.breadcrumb-wrap, .elementor-page-62 .breadcrumb-wrap {
    background-image: url("https://demo2.wpopal.com/easto/wp-content/uploads/2024/06/bc-9.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 1366px) {
    .elementor-62 .elementor-element.elementor-element-cf33a52 .wpcf7-button button {
        font-size:var( --e-global-typography-2bd818f-font-size );
        line-height: var( --e-global-typography-2bd818f-line-height );
        letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
        word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    }

    .elementor-62 .elementor-element.elementor-element-7d6bd2c .elementor-heading-title {
        font-size: var( --e-global-typography-2bd818f-font-size );
        line-height: var( --e-global-typography-2bd818f-line-height );
        letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
        word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    }

    .elementor-62 .elementor-element.elementor-element-5ac0055 .elementor-heading-title {
        font-size: var( --e-global-typography-2bd818f-font-size );
        line-height: var( --e-global-typography-2bd818f-line-height );
        letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
        word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    }

    .elementor-62 .elementor-element.elementor-element-41330fd .elementor-heading-title {
        font-size: var( --e-global-typography-2bd818f-font-size );
        line-height: var( --e-global-typography-2bd818f-line-height );
        letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
        word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    }
}

@media(min-width: 768px) {
    .elementor-62 .elementor-element.elementor-element-b2b2c61 {
        --width:66.6666%;
    }

    .elementor-62 .elementor-element.elementor-element-738760d {
        --width: 33.3333%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-62 .elementor-element.elementor-element-b2b2c61 {
        --width:55%;
    }

    .elementor-62 .elementor-element.elementor-element-738760d {
        --width: 45%;
    }
}

@media(max-width: 880px) and (min-width:768px) {
    .elementor-62 .elementor-element.elementor-element-b2b2c61 {
        --width:50%;
    }

    .elementor-62 .elementor-element.elementor-element-738760d {
        --width: 50%;
    }
}

@media(max-width: 1200px) {
    .elementor-62 .elementor-element.elementor-element-a807940 {
        --margin-top:100px;
        --margin-bottom: 100px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-62 .elementor-element.elementor-element-b2b2c61 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 100px;
    }

    .elementor-62 .elementor-element.elementor-element-c401f92 iframe {
        height: 560px;
    }
}

@media(max-width: 1024px) {
    .elementor-62 .elementor-element.elementor-element-a807940 {
        --margin-top:80px;
        --margin-bottom: 80px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-62 .elementor-element.elementor-element-b2b2c61 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 60px;
    }

    .elementor-62 .elementor-element.elementor-element-cf33a52 .wpcf7-button button {
        font-size: var( --e-global-typography-2bd818f-font-size );
        line-height: var( --e-global-typography-2bd818f-line-height );
        letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
        word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    }

    .elementor-62 .elementor-element.elementor-element-7d6bd2c .elementor-heading-title {
        font-size: var( --e-global-typography-2bd818f-font-size );
        line-height: var( --e-global-typography-2bd818f-line-height );
        letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
        word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    }

    .elementor-62 .elementor-element.elementor-element-5ac0055 .elementor-heading-title {
        font-size: var( --e-global-typography-2bd818f-font-size );
        line-height: var( --e-global-typography-2bd818f-line-height );
        letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
        word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    }

    .elementor-62 .elementor-element.elementor-element-41330fd .elementor-heading-title {
        font-size: var( --e-global-typography-2bd818f-font-size );
        line-height: var( --e-global-typography-2bd818f-line-height );
        letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
        word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    }

    .elementor-62 .elementor-element.elementor-element-c401f92 iframe {
        height: 460px;
    }
}

@media(max-width: 880px) {
    .elementor-62 .elementor-element.elementor-element-b2b2c61 {
        --padding-top:0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 30px;
    }
}

@media(max-width: 767px) {
    .elementor-62 .elementor-element.elementor-element-a807940 {
        --margin-top:60px;
        --margin-bottom: 60px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 15px;
        --padding-right: 15px;
    }

    .elementor-62 .elementor-element.elementor-element-b2b2c61 {
        --padding-top: 0px;
        --padding-bottom: 60px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-62 .elementor-element.elementor-element-cf33a52 .wpcf7-button button {
        font-size: var( --e-global-typography-2bd818f-font-size );
        line-height: var( --e-global-typography-2bd818f-line-height );
        letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
        word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    }

    .elementor-62 .elementor-element.elementor-element-7d6bd2c .elementor-heading-title {
        font-size: var( --e-global-typography-2bd818f-font-size );
        line-height: var( --e-global-typography-2bd818f-line-height );
        letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
        word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    }

    .elementor-62 .elementor-element.elementor-element-5ac0055 .elementor-heading-title {
        font-size: var( --e-global-typography-2bd818f-font-size );
        line-height: var( --e-global-typography-2bd818f-line-height );
        letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
        word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    }

    .elementor-62 .elementor-element.elementor-element-41330fd .elementor-heading-title {
        font-size: var( --e-global-typography-2bd818f-font-size );
        line-height: var( --e-global-typography-2bd818f-line-height );
        letter-spacing: var( --e-global-typography-2bd818f-letter-spacing );
        word-spacing: var( --e-global-typography-2bd818f-word-spacing );
    }

    .elementor-62 .elementor-element.elementor-element-c401f92 iframe {
        height: 360px;
    }
}
